* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  padding: 0;
  margin: 0;
}

.cal-modal-container {
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.cal-modal {
  background: #1D252C;
  color: #fff;
  padding: 40px 60px;
  text-align: center;
}
.cal-modal h3 {
  font-size: 37px;
  font-weight: 900;
  margin: 0 0 1rem;
}

#calendar {
  display: inline-block;
}
#calendar .placeholder {
  display: none;
  width: 300px;
}
#calendar .flatpickr-calendar {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  top: 0;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer {
  overflow: visible;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays {
  overflow: visible;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month {
  color: inherit;
  margin-bottom: 10px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month {
  font-size: 16px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper {
  display: none;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  top: calc(50% - 23px);
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg {
  height: 46px;
  width: 46px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg path, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg path {
  fill: #FFF;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month {
  left: -60px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  right: -60px;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer {
  max-width: 307.875px;
  padding: 0 10px;
  position: relative;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer::after {
  content: "";
  background: #343F48;
  position: absolute;
  top: -32px;
  bottom: -230px;
  right: 0;
  width: 1px;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer:last-child::after {
  content: none;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer .flatpickr-weekday {
  color: #fff;
  font-weight: 700;
}
#calendar .flatpickr-calendar .dayContainer {
  box-shadow: none;
  padding: 0 10px;
  position: static;
}
#calendar .flatpickr-calendar .dayContainer:last-child::after {
  content: none;
}
#calendar .flatpickr-calendar .flatpickr-day {
  background: #fff;
  border: 0;
  color: #1D252C;
  font-weight: 500;
  transition: color 0.1s, background 0.1s;
}
#calendar .flatpickr-calendar .flatpickr-day:hover {
  background: #3DAE2B;
  color: #fff;
}
#calendar .flatpickr-calendar .flatpickr-day.flatpickr-disabled, #calendar .flatpickr-calendar .flatpickr-day.flatpickr-disabled:hover {
  background: none;
  color: #fff;
  cursor: default;
}
#calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden), #calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden):hover, #calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden):focus {
  background: #37A628;
  color: #fff;
}
#calendar .flatpickr-calendar .flatpickr-day.nextMonthDay, #calendar .flatpickr-calendar .flatpickr-day.prevMonthDay {
  background: none;
  color: rgba(207, 210, 211, 0.1) !important;
  cursor: default;
  visibility: visible;
}
#calendar .calendar-events {
  display: block;
  justify-content: space-around;
  margin-top: 30px;
  min-height: 36px;
}
@media screen and (min-width: 992px) {
  #calendar .calendar-events {
    display: flex;
    justify-content: space-around;
  }
}
#calendar .calendar-events .event {
  font-size: 29px;
}
#calendar .calendar-events .event .date {
  color: #fff;
  font-weight: 600;
}
#calendar .calendar-events .event .location {
  color: #3DAE2B;
  font-weight: 800;
  letter-spacing: -0.8px;
}