{{ define "main" }}
<main class="post-main-wrapper px-5">
  <!-- <div class="container"> -->
  <div class="row wide-screen">
    <!-- Sidebar -->
    {{ partial "sidebar.html" . }}
    <!-- /.Sidebar -->

    <!-- Post list -->
    <!-- <div class="content"> -->
    <div class="col-md-9 mt-3">
      <ul>
        <div class="div-x">
            {{ partial "page-heading.html" . }}
            {{ $page_num := (len .Data.Pages)}}
            {{ if gt $page_num 0 }}
              <div class="px-2 middot"></div>
              <div>
                {{ i18n "postCount" $page_num }}
              </div>
            {{ end }}
          </div>
      
        {{ if .Content }}
          <div class="post-content markdown">
            {{ .Content }}
          </div>
        {{ end }}  
      </ul>
      <ul>
        {{ if eq .Site.Params.bloggroupby "month" }}
            {{ $.Scratch.Set "datespec" "2006.1" }}
        {{ else if eq .Site.Params.bloggroupby "year" }}
            {{ $.Scratch.Set "datespec" "2006" }}
        {{ end }}
        {{ if not ($.Scratch.Get "datespec") }}
            {{ range .Data.Pages.ByDate.Reverse }}
            {{ partial "li.html" . }}
            {{ end }}
        {{ else }}
            {{ range .Data.Pages.ByDate.GroupByDate ($.Scratch.Get "datespec") "desc" }}
                <li class="post-item no-bullet">
<!--                    <span class="date">{{ .Key }}</span>-->
                </li>
                {{ range .Pages.ByDate.Reverse }}
                    {{ partial "li.html" . }}
                {{ end }}
            {{ end }}
        {{ end }}
      </ul>
    </div>
    <!-- /.Post list -->
    
  </div>
</main> 
{{ end }}
