<div class="cal-modal-container">
  <div class="cal-modal">
    <h3>{{ .Title }}</h3>
    <div id="calendar">
      <div class="placeholder"></div>
      <div class="calendar-events">
      </div>
    </div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/flatpickr'></script>

<script src='{{ .Site.BaseURL }}kalendare/terminy-{{ .Slug }}.js'></script>
