
<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">


  <!-- Social icons -->
  <div class="pb-2 mt-5 pt-5">
    {{ partial "ref-icon.html" . }}
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="copyright py-4">
    <span>  2008 - {{ now.Year }} &copy; Pštrossova Vila | <a href='/zpracovani-osobnich-udaju'>Zpracování osobních údajů</a> | Theme <a href='https://github.com/EliiseS/AllinOne' target="_blank">AllinOne</a> </span>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
