<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1" />
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  
  <title>
  {{ if eq .Kind "home" }}
      {{ .Site.Title }}
  {{ else }}
      {{ if .Params.heading }} {{ .Params.heading }} | {{ .Site.Title }} {{ else }} {{ .Title }} | {{ .Site.Title }} {{ end }}
  {{ end }}
  </title>

  <link rel="canonical" href="{{ .Permalink }}">

  <!-- HTTPS -->
  {{ if .Site.Params.forcehttps }}
  <script type="text/javascript">
      var baseURL = '{{ .Site.BaseURL }}';
      var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
      if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
          window.location.protocol = 'https:';
      }
  </script>
  {{ end }}

  <!-- Font Awesome -->
  <link href="{{ "vendors/fontawesome-free-5.15.4-web/css/all.min.css" | absURL }}" rel="stylesheet">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu+Mono:400,400i,700,700i|Raleway:300,400,500,600">
<!--   <link href="{{ "css/font.css" | absURL }}" rel="stylesheet">  # soubor chybi? -->
    
  <!-- CSS -->
  <link href="{{ "css/vendors/bootstrap4/bootstrap.min.css" | absURL }}" rel="stylesheet">
  <link href="{{ "css/vendors-extensions/mdb/mdb.min.css" | absURL }}" rel="stylesheet"> 
  <link href="{{ "css/vendors/mdb/style.min.css" | absURL }}" rel="stylesheet"> 
  <link href="{{ "css/main.css" | absURL }}" rel="stylesheet">


  <!-- Kalendare -->
  <link href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css' rel="stylesheet">
  <link href="{{ "css/kalendar-style.css" | absURL }}" rel="stylesheet">


  <!-- Icon -->
  <link rel="shortcut icon"
  {{ if .Site.Params.faviconfile }}
      href="{{ .Site.Params.faviconfile | absURL }}"
  {{ else if.Site.Params.avatar}}
      href="{{ .Site.Params.avatar | absURL }}"
  {{ end }}
  >


  <!-- RSS -->
  {{ if and .Site.Params.include_rss }}
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  {{ end }}

  <style type="text/css">
      @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }
  </style>


  <!-- KaTeX -->
  {{ if .Site.Params.katex }}  
    <link rel="stylesheet" href="{{ "js/vendors/katex/katex.min.css"| absURL }}">
  {{ end }}
  <!-- /.KaTeX -->

  <!-- Highlight -->
  {{ if .Site.Params.highlightjs }}  
    <link rel="stylesheet" href="{{ "css/vendors/highlight/github-gist.css"| absURL }}">
  {{ end }}

</head>
