<div class="px-4 post-heading">{{ .Title }}</div>
<ul class="post-meta li-x mt-1">
<!--  {{ if and .Site.Params.dateformfull .Site.Params.dateform }}
    <li>{{ .Date.Format .Site.Params.dateform }}</li>
  {{ else }}
    <li>{{ .Date.Format "Jan 2, 2006" }}</li>
  {{ end }}-->

  {{ if not .Site.Params.noshowreadtime }}
    <li class="middot"></li>
    <li>{{ i18n "readingTime" .ReadingTime }}</li>
  {{ end }}
</ul>
