{{ $url := .Permalink }}
{{ $type := .Type }}
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
          {{ if .Site.Params.avatar }}
        <img class="avatar" src="{{ .Site.Params.faviconfile | absURL }}" style="width: 40px!important;height: auto;"  class="d-inline-block align-top" alt="" >
        {{ end }}
        <strong> {{ .Site.Params.author }}</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item {{ if eq $url "/" }} active {{ end }}">
            <a class="nav-link" href="{{ .Site.BaseURL }}"><i class="fas fa-home"></i>{{ if eq $url "/" }} <span class="sr-only">(current)</span>{{ end }}</a>
          </li>
          {{ range .Site.Menus.main }}   
            <li class="nav-item {{ if eq $type (substr .URL 1 -1) }} active {{ end }}">
              <a class="nav-link" href="{{ .URL | absURL }}" >{{ .Name }} {{ if eq $type (substr .URL 1 -1) }} <span class="sr-only">(current)</span>{{ end }} </a>
            </li>
          
          {{ end }}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
