

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<!-- jquery -->
<script type="text/javascript" src="{{ "js/vendors/jquery/jquery-3.3.1.min.js" | absURL }}"></script><!-- <script>window.jQuery || document.write('<script src="dist/js/vendors/jquery-slim.min.js"><\/script>')</script> -->
<script type="text/javascript" src="{{ "js/vendors/jquery/jquery.smooth-scroll.min.js" | absURL }}"></script>
<!-- /.jquery -->


<script type="text/javascript" src="{{ "js/vendors/popper.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/vendors/holder.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/vendors-extensions/bootstrap4/bootstrap.min.js" | absURL }}" ></script>

<script type="text/javascript" src="{{ "js/vendors/mdb/mdb.min.js" | absURL }}"></script>

<script type="text/javascript" src="{{ "js/main.js" | absURL }}"></script>


<!-- Highlight -->
{{ if .Site.Params.highlightjs }}  
  <script src="{{ "js/vendors/highlight.pack.js" | absURL }}"> </script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}
<!-- /.Highlight -->

<!-- KaTeX -->
{{ if .Site.Params.katex }} 
  <script src="{{ "js/vendors/katex/katex.min.js" | absURL }}"> </script>
  <script src="{{ "js/vendors/katex/contrib/auto-render.min.js" | absURL }}"></script>

  <script>
      document.addEventListener("DOMContentLoaded", function () {
          renderMathInElement(document.body);
      });
  </script>
{{ end }}
<!-- /.KaTeX -->

<!-- mdb -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>
